body{
	background-color: rgb(178, 148, 247);
}

h1{
	color: rgb(185, 102, 8);
	text-align: center;
	font-size: 50px;
}

h2{
	color: rgb(223, 73, 148);
	text-align: center;
	font-size: 40px;
}

.born{
	color: rgb(151, 45, 45);
	font-size: 25px;
}

.edu{
	color: rgb(151, 45, 45);
	font-size: 25px;

}

footer{
	text-align: center;
	color: rgb(1, 58, 58);
	padding-top: 200px;
	font-size: 50px;
}

.child {
	display: block; 
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.graduation{
	display: block; 
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.list{
	text-align: center;
	color: rgb(102, 8, 71);
	font-size: 40px;
}

ol li{
	text-align: left;
	color: rgb(109, 11, 35);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	}

.hyouka {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	float: right;
	}

.hello{
	text-align: center;
	font-size: 55px;
	color: darkorange;
}

button{
	padding: 50px 75px;
	font-size: 80px;
	color: rgb(37, 73, 233);
	background-color: rgba(4, 216, 135, 0.986);
}